# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=gin_app_db
DB_SSLMODE=disable

# App Configuration (Loaded from configs/config.yaml by default)
# APP_PORT=8081
# APP_ENV=development
